.aside-bar {
    transition: background-image 200ms ease-in;
    transform-origin: top center;
    animation: fullHeight 600ms;
}

.title-div {
    overflow: hidden;
    transform-origin: top left;
    animation: fullWidth 1000ms;
}

.detail-content {
    animation: makeVisible 2000ms;
}

.detail-header {
    width:0;
    animation: fadeIn 1500ms;
}

@keyframes fullHeight {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes fullWidth {
    0% {
        width: 0;
        padding: 0;
    }

    50% {
        width: 0;
        padding: 0;
    }

    100% {
        width: 1;
    }
}

@keyframes makeVisible {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        width: 100%;
    }
    60% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
