#bg-images {
    div {
        transition: height 600ms, width 300ms;
    }
}
.makeSmall {
    animation: makeSmall 600ms;
    animation-direction: initial !important;
    animation-fill-mode: forwards;
}

.bar {
    animation-delay: 400ms;
}

.webdev {
    animation-delay: 0ms;
}

.sound {
    animation-delay: 200ms;
}

.image-full-height {
    height: 100%;
}
.image-no-height {
    animation: makeSmall 600ms;
    animation-fill-mode: forwards;
}
.image-small-width {
    transition: width 100ms;
    width: 3/12;
}

@keyframes makeSmall {
    0% {
        height: 100%;
    }
    80% {
        height: 0%;
    }
    100% {
        height: 0%;
        width: 0%;
    }
}
