/* 
    Fonts 
*/
@font-face {
    font-family: 'Din Condensed';
    src: url('~@/assets/fonts/DINCondensed-Bold.woff') format('.woff');
}

$font-family: "Din Condensed", sans-serif;


/* 
    Colors
*/

$dark: rgba(0,0,0,0.65);
$dark-white: rgba(255,255,255,0.6)

